<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tài Xế</title>
<link rel="stylesheet" th:href="@{/style.css}">
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
</head>
<body>
	<div class="menu">
		<div class="title">
			<i class="fas fa-car"></i>
			<p>Travel Manage</p>
		</div>
		<hr class="line-divide">
		<div class="menu-item">
			<ul>
				<li class="item"><a th:href="@{/home/taixe}"
					class="item-link active"><i class="fas fa-biking"></i>Tài Xế</a></li>
				<li class="item"><a th:href="@{/home/chuyenxe}"
					class="item-link"><i class="fas fa-route"></i>Chuyến Xe</a></li>
				<li class="item"><a th:href="@{/home/tuyenxe}"
					class="item-link"><i class="fas fa-road"></i>Tuyến Xe</a></li>
				<li class="item"><a th:href="@{/home/xekhach}"
					class="item-link"><i class="fas fa-car-side"></i>Xe Khách</a></li>
				<li class="item"><a th:href="@{/home/taixe/luongtaixe}"
					class="item-link"><i class="fas fa-car-side">Lương Tài xế</i></a></li>
				<li class="item"><a th:href="@{/home/xekhach/doanhthuxe}"
					class="item-link"><i class="fas fa-car-side"></i>Doanh Thu Xe</a></li>
				<li class="item"><a th:href="@{/home/xekhach/ngaybaoduong}"
					class="item-link"><i class="fas fa-car-side"></i>Ngày Bảo Dưỡng Xe</a></li>
			</ul>
			<div class="btn">
				<button class="zoomInBtn" onclick="zoomIn()"><</button>
			</div>
		</div>
	</div>

	<form method="POST" th:object="${taixe}">
	<h1 th:if="${err}" style="color:blue">Tài xế đã tồn tại </h1>
		<table>
			<tr>
				<th>Attribute</th>
				<th>Values</th>
			</tr>
			<!-- <tr>
				<td>id</td>
				<td th:field="*{id}" th:text="${id}"></td>
			</tr> -->
			<tr>
				<td>Tên</td>
				<td><input type="text" th:field="*{ten}" required="required"/></td>
			</tr>
			<tr>
				<td>CMND</td>
				<td><input type="number" maxlength=12 min=0 th:field="*{CMND}" required="required"/></td>
			</tr>
			
			<tr>
				<td>Mã Bằng Lái</td>
				<td><input type="text" th:field="*{maBangLai}" required="required"/></td>
			</tr>
			<tr>
				<td>Loại Bằng Lái</td>
				<td><input type="text" th:field="*{loaiBangLai}" required="required"/></td>
			</tr>
			<tr>
				<td>Địa chỉ</td>
				<td><input type="text" th:field="*{diaChi}" required="required"/></td>
			</tr>
			<tr>
				<td>Ngày Sinh</td>
				<td><input type="date" name="ngaysinh" required="required"/></td>
			</tr>
			<tr>
				<td>Thâm niên</td>
				<td><input type="number" min=0 th:field="*{thamNien}" required="required"/></td>
			</tr>

		</table>

		<!-- <label>Id: </label> <input type="text" th:field="*{id}" readonly
			th:text="${taixe.id}" /> <br /> <label>Tên: </label> <input
			type="text" name="diemcuoi" /> <br /> <label for="state">CMND:</label>
		<input type="number" name="dodai" /><br /> <label for="zip">Mã
			Bằng Lái: </label> <input type="number" name="dophuctap" /><br /> -->
		<!-- <select th:field="*{doPhucTap}">
				<option th:value="1">1</option>
				<option th:value="2">2</option>
				<option th:value="3">3</option>
			</select> -->
		<br /> <input type="submit" value="Submit" />
	</form>
</body>
<script type="text/javascript" src="/main.js" /></script>
<script type="text/javascript" src="/select.js" /></script>
<script type="text/javascript" src="/setMax.js" /></script>
</html>